<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder:"Digite seu nome"  %>
  </div>

  <div class="form-group">
    <%= form.label :species %>
    <%= form.select(:species, @options_pet, {include_blank: 'Selecione a especie...'}, class:"form-control")  %>
  </div>

  <div class="form-group">
    <%= form.label :birth_date %>
    <%= form.date_field :birth_date, class:"form-control" %>
  </div>

 <div class="form-group">
  <%= form.label :avatar %>
  <%= form.file_field :avatar %>
</div>

<div class="form-group">
  <%= form.label :ong_id %>
  <%= form.select(:ong_id, @options_ong, {include_blank: 'Afiliada a loja ...'}, class:"form-control") %>
</div>

<div class="form-group">
    <%= form.radio_button :situation, 'Propriedade' %>
    <%= form.label :situation, value: 'Propriedade' %>

    <%= form.radio_button :situation, 'Abandonado' %>
    <%= form.label :situation, value: 'Abandonado' %>
  </div>

  <div class="actions">
    <%= form.submit nil, class:"btn btn-primary" %>
  </div>
<% end %>
</br>